# Configuration EmailJS pour Vite
VITE_EMAILJS_SERVICE_ID=service_u22eemp
VITE_EMAILJS_TEMPLATE_ID=template_7pcqegn
VITE_EMAILJS_PUBLIC_KEY=rdnOQMXCmxg4k95DL
VITE_EMAIL_DESTINATION=stela.esport@gmail.com
VITE_DISCORD_LINK=https://discord.gg/EUqyFQhcbR
